<div class="container m-header text-justify">

    <h3 class="mb-5">Preguntas frecuentes</h3>

    <p><strong>¿Qué tipo de servicios de soldadura ofrece su empresa?</strong></p>
    <p>Ofrecemos una amplia gama de servicios de soldadura, que incluyen soldadura MIG, soldadura TIG, soldadura por arco eléctrico, soldadura por gas y soldadura por puntos. Además, realizamos trabajos de soldadura en acero inoxidable, aluminio y otros metales.</p>

    <p><strong>¿Tienen experiencia en la reparación de piezas de maquinaria industrial?</strong></p>
    <p>Sí, contamos con amplia experiencia en la reparación de piezas de maquinaria industrial. Nuestros técnicos altamente capacitados utilizan equipos de soldadura de última generación para garantizar la calidad y durabilidad de nuestras reparaciones.</p>

    <p><strong>¿Cuál es su área de servicio?</strong></p>
    <p>Ofrecemos nuestros servicios de soldadura en toda la ciudad de [nombre de la ciudad] y sus alrededores. Si se encuentra fuera de esta área, no dude en contactarnos para ver si podemos ayudarlo.</p>

    <p><strong>¿Cómo puedo solicitar una cotización para un trabajo de soldadura?</strong></p>
    <p>Puede solicitar una cotización mediante la dirección de correo electrónico contacto@essomani.com o por teléfono llamando al (+52) 272-117-81-95. Para proporcionarle una cotización precisa, necesitaremos conocer los detalles del trabajo de soldadura que necesita realizar.</p>

    <p><strong>¿Cuál es el plazo de entrega de un trabajo de soldadura?</strong></p>
    <p>El plazo de entrega dependerá del tipo y complejidad del trabajo de soldadura que necesite realizar. Una vez que proporcionemos una cotización, también le proporcionaremos una estimación del plazo de entrega.</p>

    <p><strong>¿Cómo puedo hacer un seguimiento de mi trabajo de soldadura?</strong></p>
    <p>Le mantendremos informado sobre el progreso de su trabajo de soldadura a través de llamadas telefónicas o correos electrónicos, según su preferencia. Si tiene alguna pregunta o inquietud, no dude en ponerse en contacto con nosotros en cualquier momento.</p>

    <p><strong>¿Ofrecen garantía en sus trabajos de soldadura?</strong></p>
    <p>Sí, ofrecemos garantía en todos nuestros trabajos de soldadura. Si no está satisfecho con nuestro trabajo, haremos todo lo posible para solucionar el problema y asegurarnos de que quede satisfecho con los resultados.</p>

</div>