<div class="container-fluid footer">
    
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 my-1">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-block text-center">
                        <img src="assets/logo/essomani_logo.png" alt="..." width="90" class="mb-3">
                        <p class="mx-5 text-justify"><small>Empresa siderúrgica 100% mexicana especialista en la elaboración y mantenimiento de estructuras y equipo industrial.</small></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 my-1">
                <p>Información de contacto</p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp">mail</span>
                                <p class="m-0 mx-2"><small>contacto@essomani.com</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp">call</span>
                                <p class="m-0 mx-2"><small>(+52) 555 - 333 - 44 - 22</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp">location_on</span>
                                <p class="m-0 mx-2"><small>Address #34, City, State, CT</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 my-1">
                <p>Acerca del sitio</p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp">report</span>
                                <p class="m-0 mx-2"><small>Privacidad</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp">help</span>
                                <p class="m-0 mx-2"><small>Preguntas frecuentes</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp">code_blocks</span>
                                <p class="m-0 mx-2"><small>Desarrollo</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p class="m-0 footer-info cursor-none">
            <small><code>Essomani® | {{year}}</code></small>
        </p>
    </div>
</div>