<div class="container-fluid footer">
    
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 my-1">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-block text-center">
                        <img src="assets/logo/essomani_logo.png" alt="..." width="90" class="mb-3">
                        <p class="mx-5 text-justify"><small>Empresa siderúrgica 100% mexicana especialista en la elaboración y mantenimiento de estructuras y equipo industrial.</small></p>
                        <p class="mx-4 text-center text-cursive"><small>"En Essomani concentrados, trabajamos limpios, seguros y sin atajos".</small></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 my-1 px-5">
                <p class="text-center"><strong>Información de contacto</strong></p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp ms-2">mail</span>
                                <p class="m-0 ms-3"><small>essoman31@hotmail.com</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp ms-2">call</span>
                                <p class="m-0 ms-3"><small>(+52) 272-117-81-95</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp ms-2">location_on</span>
                                <p class="m-0 ms-3"><small>Sur 9 #22-A Esquina Ote. 1, 94460, Ixtaczoquitlán, Veracruz, México.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 my-1">
                <p class="text-center"><strong>Acerca del sitio</strong></p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight disabled cursor-none">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp ms-2">report</span>
                                <p class="m-0 ms-3"><small>Privacidad</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight disabled cursor-none">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp ms-2">help</span>
                                <p class="m-0 ms-3"><small>Preguntas frecuentes</small></p>
                            </div>
                        </div>
                        <hr class="m-2">
                        <div class="p-2 bd-highlight disabled cursor-none">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-sharp ms-2">code_blocks</span>
                                <p class="m-0 ms-3"><small>Desarrollo</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p class="m-0 footer-info cursor-none">
            <small><code>Essomani S.A de C.V. | {{year}}</code></small>
        </p>
    </div>
</div>