<div class="container m-header">

  <h3 class="mb-5">Contacto</h3>

  <p class="mb-4 text-justify">Essomani pone a su disposición nuestros <strong>canales de comunicación oficiales</strong>, evite intentar contactar por otros medios que no sean los que se muestran en esta página, en caso de contactar por otros medios que no sean los mencionados, Essomani no se hace responsable de todo posible daño que le pueda suceder. Recuerde que estamos para brindarle el mejor servicio posible en todo momento.</p>

  <div class="row">

    <div class="col-lg-4 col-sm-12 mb-3">
      <div class="card">
        <img src="assets/icons/mail.svg" class="card-img-top icon-image" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Correo electrónico</h5>
          <div class="d-grid gap-2 mb-3">
            <a href="mailto:essoman31@hotmail.com">
              <button class="btn btn-danger" type="button">fco.gonzalez@essomani.com</button>
            </a>
          </div>
          <p class="card-text font-small">Dirección de correo electrónico oficial de Essomani, exclusivo para solicitar información y/o cotizaciones:</p>
          <p class="text-muted text-center font-small">Clic sobre el correo electrónico para enviar un mensaje</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 mb-3">
      <div class="card">
        <img src="assets/icons/call.svg" class="card-img-top icon-image" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Teléfono</h5>
          <div class="d-grid gap-2 mb-3">
            <a href="tel:+522721178195">
              <button class="btn btn-danger" type="button">(+52) 272-117-8195</button>
            </a>
          </div>
          <p class="card-text m-0 font-small">Horarios de atención de:</p>
          <p class="font-small m-0">Lunes a Viernes de 8:00 a 17:00 hrs.</p>
          <p class="font-small">Sábado de 8:00 a 13:00 hrs.</p>
          <p class="text-muted text-center font-small">Clic sobre el número para iniciar una llamada</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 mb-3">
      <div class="card">
        <img src="assets/icons/location.svg" class="card-img-top icon-image" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Ubicación</h5>
          <div class="d-grid gap-2 mb-3">
            <a href="{{linkMaps}}" target="_blank">
              <button class="btn btn-danger" type="button">Ver ubicación</button>
            </a>
          </div>
          <p class="card-text font-small">Sur 9 #22-A esquina Oriente 1, CP. 94460, Ixtaczoquitlán, Veracruz, México</p>

          <p class="text-muted text-center font-small">Clic en "Ver ubicación" para abrir Google Maps</p>
        </div>
      </div>
    </div>

  </div>
</div>