<div class="container m-header">

    <p class="px-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque tenetur provident iure praesentium, recusandae dolores distinctio. Laudantium quisquam voluptates possimus accusantium dolorem eius quidem minus, mollitia odit maiores natus beatae.</p>

    <div class="card mb-3" id="email">
        <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/img/test.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Correo electrónico</h5>
                <p class="card-text"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ducimus ad beatae optio aliquam suscipit:</small></p>
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Copiar dirección de correo">essomani@gmail.com</button>
                <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing.</small></p>
              </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" id="phone">
        <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/img/test.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Teléfonos</h5>
                <p class="card-text"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ducimus ad beatae optio aliquam suscipit:</small></p>
                <ul>
                    <li>Oficina: (+52) 272-222-44-66</li>
                    <li>WhatsApp: (+52) 272-777-99-22</li>
                </ul>
                <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing.</small></p>
              </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" id="location">
        <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/img/test.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Dirección</h5>
                <p class="card-text"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ducimus ad beatae optio aliquam suscipit:</small></p>
                <p>Lorem ipsum dolor sit amet:</p>
                <ul>
                    <li>Lunes a viernes: 8:00 a 12:00 horas y de 14:00 a 17:00 horas</li>
                    <li>Sábados: 8:00 a 13:00 horas</li>
                </ul>
                <button type="button"
                        class="btn btn-success">Abrir Google Maps</button>
                <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing.</small></p>
              </div>
            </div>
          </div>
    </div>
</div>