<app-carousel [images]="images"></app-carousel>

<div class="container my-5">

    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/home-images/mision.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text text-justify">
                        Ofrecer servicios metal mecánicos con la confianza de años de experiencia y conocimiento, a su vez, brindar a las empresas una seguridad, confort, y tranquilidad al permitirnos ser parte de cada una de ellas, contribuyendo al crecimiento de ambos y un ambiente con una relación franca y honesta.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/home-images/vision.jpeg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text text-justify">
                        Alcanzar a ser una empresa líder y competitiva en, calidad, seguridad, tiempos de entrega, costos, trabajos sobre presión, y sobre todo la responsabilidad que precede de una confianza otorgada por el cliente.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/home-images/valores.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Valores</h5>
                    <ul>
                        <li *ngFor="let value of values">
                            <p class="m-0"><small>{{value.value}}</small></p>
                            <p class="text-muted text-justify"><small>{{value.description}}</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/home-images/compromiso.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nuestro compromiso</h5>
                    <p class="card-text">En Essomani, como empresa, nos comprometemos a:</p>
                    <ul>
                        <li *ngFor="let compromise of compromises; let i = index">
                            {{compromise.content}}
                            <hr *ngIf="i < compromises.length - 1">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
