<app-carousel [images]="images"></app-carousel>

<div class="container mt-4">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sapiente id corporis possimus alias vitae delectus eligendi? Voluptatem molestiae neque veniam est! Eius magnam molestias nobis, fugit maxime provident ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero modi quas et sequi, similique magni.</p>

    <p class="text-center"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore.</strong></p>
</div>