<app-carousel [images]="images"></app-carousel>

<div class="container mt-4">

    <p class="px-3 text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sapiente id corporis possimus alias vitae delectus eligendi? Voluptatem molestiae neque veniam est! Eius magnam molestias nobis, fugit maxime provident ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero modi quas et sequi, similique magni.</p>

    <p class="text-center"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore:</strong></p>

    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-3" *ngFor="let product of products">
            <div class="card">
                <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">{{product.title}}</h5>
                    <ul class="card-text">
                        <li *ngFor="let details of product.products">{{details}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center my-4"><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi voluptatibus, similique fugiat eum saepe explicabo, nisi ipsam aspernatur perferendis omnis, veniam illo odit dolore nobis ipsa hic maiores? Eligendi.</small></p>
</div>