<app-carousel [images]="images"></app-carousel>

<div class="container mt-4">

    <p class="px-3 text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sapiente id corporis possimus alias vitae delectus eligendi? Voluptatem molestiae neque veniam est! Eius magnam molestias nobis, fugit maxime provident ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero modi quas et sequi, similique magni.</p>

    <p class="text-center"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore:</strong></p>

    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem.</h5>
                    <p class="card-text text-justify">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa explicabo unde necessitatibus eius accusamus, doloremque quasi beatae ad obcaecati! Dicta consequuntur autem similique ut aut.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem.</h5>
                    <p class="card-text text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem tenetur, dolore repellendus deleniti atque earum et laudantium qui doloribus quod illo fugiat aliquam aspernatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, aliquid.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem.</h5>
                    <p class="card-text text-justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores consectetur quidem nisi praesentium. Aperiam laudantium ullam saepe similique culpa ratione dolore sequi quaerat perferendis nulla deserunt repudiandae dolorum recusandae, tenetur earum vel error inventore eligendi! Voluptatibus, laboriosam incidunt. Porro nisi veniam laboriosam velit, ratione laudantium.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
            <div class="card">
                <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem.</h5>
                    <p class="card-text text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, sunt vitae. Suscipit impedit culpa quod harum nulla minus consequuntur sapiente odit eius deleniti, aut doloremque dolore vel ipsum ex dolores. Qui at iusto nihil voluptates?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center my-4"><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi voluptatibus, similique fugiat eum saepe explicabo, nisi ipsam aspernatur perferendis omnis, veniam illo odit dolore nobis ipsa hic maiores? Eligendi.</small></p>
</div>