<div class="container m-header text-justify">

    <h3 class="mb-5">Aviso de privacidad</h3>

    <p>La empresa Essomani, con domicilio en calle Sur 9 #22-A Esquina Oriente 1, 94460, Ixtaczoquitlán, Veracruz, México, no recopila información personal a través de su sitio web www.essomani.com. El presente aviso de privacidad tiene como finalidad informarle sobre nuestras prácticas de privacidad y los derechos que usted tiene en relación con sus datos personales.</p>

    <p><strong>¿Qué información recopilamos?</strong></p>
    <p>La empresa no recopila información personal a través de su sitio web de ningún tipo, ya que esta página solamente tiene como propósito el de dar a conocer la existencia de la empresa Essomani, no obstante, no se descarta que en alguna actualización con nuevas secciones en la página ya se considere el procesar datos de los usuarios, de lo cual se estará informando en esta sección para hacerle saber al usuario.</p>

    <!-- <p><strong>¿Con quién compartimos su información?</strong></p>
    <p>La empresa no comparte su información con terceros, salvo en los casos en que la ley lo requiera.</p> -->

    <!-- <p><strong>¿Cómo puede ejercer sus derechos ARCO?</strong></p>
    <p>Como usuario de nuestro sitio web, usted tiene derecho a acceder, rectificar, cancelar y oponerse al tratamiento de sus datos personales. Si desea ejercer estos derechos, puede enviar un correo electrónico a fco.gonzalez@essomani.com.</p> -->

    <p><strong>Cambios al aviso de privacidad</strong></p>
    <p>La empresa se reserva el derecho de actualizar este aviso de privacidad en cualquier momento. Le recomendamos revisar periódicamente este aviso para estar al tanto de cualquier cambio que se realice.</p>

    <p class="text-center mt-5"><small>Fecha de última actualización: 03 de Abril de 2023</small></p>

</div>