.carousel-inner {
    height: 91vh;
}

.info-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.more-button {
    float: right;
}

@media only screen and (max-width: 1349px) {
    .carousel-inner {
        height: unset;
    }
}