<!-- Section 1 -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="assets/img/test.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000" *ngFor="let image of [1,1,1,1,1,1]">
            <img src="assets/img/test.jpg" class="d-block w-100" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Section 2 -->
<div class="container py-3 mt-4">
    <div class="row">
        <div class="col-md-6 col-sm-12 my-2 px-5">
            <p class="fw-bold fs-4">¿Qué representa Essomani?</p>
            <hr class="my-1">
            <p class="mt-4 px-2 text-justify fs-6">Especialistas en Soldadura y Mantenimiento Industrial nace a partir de la idea y pasión de desarrollar proyectos industriales para empresas del sector, cubriendo las necesidades y ofreciendo un extra en cada trabajo que se realiza.</p>
            <p class="px-2 text-justify fs-6">Comprometidos con la calidad y seguridad en cada uno de nuestros trabajos, además de salvaguardar la integridad de cada uno de nuestros trabajadores, Essomani busca la expansión para darse a conocer como una de las mejores empresas del sector siderúrgico.</p>
        </div>

        <div class="col-md-6 col-sm-12 my-2 px-5">
            <p class="fw-bold fs-4">Calidad garantizada</p>
            <hr class="my-1">
            <p class="mt-4 px-2 text-justify fs-6">En Essomani se desarrollan proyectos desde mantenimiento industrial hasta la cotización, manufacturización y despliegue de montajes de acero para todo tipo de empresas. Compitiendo con las grandes empresas del sector, Essomani se compromete a cumplir lo siguiente:</p>
            <ul>
                <li class="fs-6">Cumplir con las necesidades estipuladas de cada uno de nuestros clientes.</li>
                <li class="fs-6">Seguimiento del trabajo realizado para salvaguardar la calidad del trabajo desarrollado. </li>
                <li class="fs-6">Desarrollar proyectos con los más altos estándares de calidad de mano de obra y materales, además de los estándares de seguridad en todo momento.</li>
            </ul>
        </div>
    </div>
</div>

<hr class="my-2 mx-5">

<!-- Section 3 -->
<div class="container py-3 mt-2">
    <div class="row">
      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empresas</h5>
            <p class="card-text text-justify px-3">
              <small>A pesar de tener poco tiempo en el mercado, Essomani cuenta con experiencia desarrollando proyectos de la mano de grandes empresas del país, tales como Totis, Pemex, entre otras...</small>
            </p>

            <div class="more-button">
              <a href="#" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nuestra gente</h5>
            <p class="card-text text-justify px-3">
              <small>Essomani cuenta con los mejores trabajadores del sector, apoyando a la economía local con talento 100% mexicano...</small>
            </p>

            <div class="more-button">
              <a href="#" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Misión</h5>
            <p class="card-text text-justify px-3">
              <small>Essomani se dedica al desarrollo y mantenimiento de estructuras metálicas, siempre buscando la mayor calidad posible para las mejores empresas de México...</small>
            </p>

            <div class="more-button">
              <a href="#" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/test.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Visión</h5>
            <p class="card-text text-justify px-3">
              <small>Buscando posicionarse como una de las mejores empresas del sector siderúrgico, Essomani se compromete al desarrollo de proyectos con los más altos estándares de calidad...</small>
            </p>

            <div class="more-button">
              <a href="#" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>