<!-- Section 1 -->
<app-carousel [images]="images"></app-carousel>

<!-- Section 2 -->
<div class="container py-3 mt-4">
    <div class="row">
        <div class="col-md-6 col-sm-12 my-2 px-5">
            <p class="fw-bold fs-4">Breve historia</p>
            <hr class="my-1">
            <p class="mt-4 px-2 text-justify fs-6">Especialistas en Soldadura y Mantenimiento Industrial nace a partir de la idea y pasión de desarrollar proyectos industriales para empresas del sector, cubriendo las necesidades y ofreciendo un extra en cada trabajo que se realiza.</p>
            <p class="px-2 text-justify fs-6">Comprometidos con la calidad y seguridad en cada uno de nuestros trabajos, además de salvaguardar la integridad de cada uno de nuestros trabajadores, Essomani busca la expansión para darse a conocer como una de las mejores empresas del sector siderúrgico.</p>
        </div>

        <div class="col-md-6 col-sm-12 my-2 px-5">
            <p class="fw-bold fs-4">Calidad garantizada</p>
            <hr class="my-1">
            <p class="mt-4 px-2 text-justify fs-6">En Essomani se desarrollan proyectos desde mantenimiento industrial hasta la cotización, manufacturización y despliegue de montajes de acero para todo tipo de empresas. Compitiendo con las grandes empresas del sector, Essomani se compromete a cumplir lo siguiente:</p>
            <ul>
                <li class="fs-6">Cumplir con las necesidades estipuladas de cada uno de nuestros clientes.</li>
                <li class="fs-6">Seguimiento del trabajo realizado para salvaguardar la calidad del trabajo desarrollado. </li>
                <li class="fs-6">Desarrollar proyectos con los más altos estándares de calidad de mano de obra y materales, además de los estándares de seguridad en todo momento.</li>
            </ul>
        </div>
    </div>
</div>

<hr class="my-2 mx-5">

<!-- Section 3 -->
<div class="container py-3 mt-2">
    <div class="row">
      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/home-images/empresas.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empresas</h5>
            <p class="card-text text-justify px-3">
              <small>A pesar de tener poco tiempo en el mercado, Essomani cuenta con gente capacitada y con  experiencia desarrollando proyectos de la mano de grandes empresas del país, tales como Totis, Jarritos, entre otras...</small>
            </p>

            <!-- <div class="more-button">
              <a href="#" class="btn btn-danger btn-sm">Conocer más</a>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/home-images/gente.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nuestra gente</h5>
            <p class="card-text text-justify px-3">
              <small>Essomani cuenta con trabajadores altamente calificados para todo tipo de proyectos, a su vez, estamos apoyando a la economía local con talento 100% mexicano...</small>
            </p>

            <div class="more-button">
              <a routerLink="/our-people" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/home-images/mision.jpg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Misión</h5>
            <p class="card-text text-justify px-3">
              <small>Ofrecer servicios metal mecánicos con la confianza de años de experiencia y conocimiento con una relación franca y honesta...</small>
            </p>

            <div class="more-button">
              <a routerLink="/about" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
          <img src="assets/img/home-images/vision.jpeg" class="card-img-top info-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Visión</h5>
            <p class="card-text text-justify px-3">
              <small>Ser una empresa competitiva en, calidad, seguridad, tiempos de entrega, costos, trabajos sobre presión, y sobre todo la responsabilidad que precede de una confianza otorgada por el cliente...</small>
            </p>

            <div class="more-button">
              <a routerLink="/about" class="btn btn-danger btn-sm">Conocer más</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>