<app-carousel [images]="images"></app-carousel>

<div class="container mt-4">

    <p class="mx-4 text-justify">En Essomani, lo más importante y valioso son nuestros trabajadores, procurando que en cada proecto se cumplan todas las normas de seguridad establecidas.</p>
    <p class="mx-4 text-justify">Contamos con talento 100% mexicano, creando empleos y apoyando al comercio local, nuestra gente está altamente capacitada para todo tipo de trabajos, siempre dando un extra en cada proyecto con los más altos estándares de calidad, las especialidades y materiales que se utilizan son los siguientes:</p>

    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-3" *ngFor="let speciality of specialities">
            <div class="card">
                <img src="{{speciality.image}}" class="card-img-top info-image" alt="...">
                <div class="card-body">
                    <p class="card-title text-center">{{speciality.title}}</p>
                </div>
            </div>
        </div>
    </div>

</div>